#floater {
    float: left;
    height: 50%;
    margin-bottom: -180px;
}

.loginbox {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    position: relative;
    background: #8BC34A;
    border-radius: 15px;
}

#firstrow {
    margin-top: 20%;
}