.App{
    margin-bottom: 4rem;
}

.secondaryText {
    color: #7188a2;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.cha-container {
    width: 80%;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.post-intro,
.post-information {
    margin-top: 2rem;
}


.checkbox-list {
    margin-top: 1.5rem;
}

.cha-item {
    padding: .5rem;
}



@media print {
    body * {
        visibility: hidden;
    }
    #print,
    #print * {
        visibility: visible;
    }
    #print {
        position: absolute;
        left: 0;
        top: 0;
    }
    .printExcept {
        display: none;
    }
}